hello users
<table class="table table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th>User Name</th>
      <th>修改</th>
      <th>刪除</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= link_to '修改', edit_user_path(user) %></td>
      <td><%= link_to '刪除', user, method: :delete, data: { confirm: '確定要刪除使用者?' } %></td>
    </tr>
  <% end %>
  </tbody>
 </table>
<td><%= link_to 'new', new_user_path %></td>